<div class="main_quote"
    style="
    margin:33.3%;
    background: grey;
    text-align: center;">

  <h1> Dice Knows  "<%= @random_word[:word] %>" ! </h1>

  <form method="GET" action="saying/create_saying">
    <input type="submit" value="Add Something Dice Knows?"></input>
  </form>

  <form method="GET" action="/">
    <input type="submit" value="See what else Dice Knows?"></input>
  </form>

</div>
