<div class="row">

  <!-- LEFT CONTENT -->
  <div class="col-sm-3">
    <h1>Dice Knows:</h1>
    
  </div> <!-- col-sm-3 -->

  <!-- RIGHT CONTENT -->
  <div class="col-sm-3 col-sm-push-6">
    <% unless locals.empty? %>
      <%= message %>
    <% end %>

    <form class="form-signin" method="POST" action='/login'>
      <h1 class="form-signin-heading">Log In</h1>
      <label for="inputUsername" class="sr-only">Username</label> <input type="text" id="username" name="username" class="form-control" placeholder="Username" autofocus>
      <label for="inputPassword" class="sr-only">Password</label> <input type="password" id="password" name="password" class="form-control" placeholder="Password"><br><br>
      <input type="submit" id="submit" value="Log In" class="btn btn-sm">
    </form><br>

    <label>Need an account?</label>
    <a href="/signup"><input type="submit" value="Sign Up" class="btn btn-sm"></a>
  </div> <!-- col-sm-3 -->

</div> <!-- row -->
