

<div style= "margin-left:33.33%;">
  <h1>Add something Dice knows </h1>
  <p> You can only add a single word <p>
    <form method="POST" action='/saying'>
      <input type='text' name='add_word'>
      <input type='submit' value="Add Word">
    </form>
</div>
